body{
  font-family: Proxima Nova, sans-serif;
  color: rgb(109, 109, 109);
  font-size: 14px;
  font-weight: 100;
}

.left-div-cont {
  display: flex;
  position: absolute;
  border: none;
  width: 55%;
  height: 100%;
  top: 0;
  right: 45%;
  margin: auto;
}

.static-img {
  position: relative;
  width: 100%;
  border-image-slice: 100%;
}

.left-div {
  display: block;
  position: absolute;
  top: 70%;
  left: 30%;
  color: white;
  border: none;
  width: 350px;
  height: 180px;
  font-size: 15px;
  font-family: sans-serif;
}

.contact {
  text-align: left;
  margin-top: 8px;
}

.call-text {
  position: absolute;
  display: flex;
  margin-top: 6px;
}

.call-text1 {
  margin-right: 10px
}

.call-text2 {
  display: flex;
}

.call-text-img1 {
  position: relative;
  margin-right: 10px;
  top: 5px;
}

.call-text-img2 {
  display: flex;
  position: relative;
  top: 5px;
  margin-left: 4px;
}

.call-text-text {
  position: relative;
  margin-left: 10px;
  top: -8px;
}

.socials {
  display: flex;
  position: relative;
  top: 1px;
}

.socials-logo-ig {
  position: absolute;
  top: 60px;
}

.socials-logo-fb {
  position: absolute;
  top: 55px;
  right: 75%;
}

.socials-logo-tw {
  position: absolute;
  top: 55px;
  right: 60%;
}

.right-div-cont {
  position: absolute;
  border: none;
  width: 45%;
  top: 0;
  left: 54%;
  margin: auto;
  padding-top: 20px;
}

h3 {
  font-family: Proxima Nova, sans-serif;
  font-size: 18px;
  margin-left: 87px;
  margin-bottom: 15px;
}

span {
  display: block;
  background-color: rgb(171 11 75);
  border: 1px solid rgb(171 11 75);
  height: 3px;
  width: 40px;
  margin-left: 88px;
  margin-bottom: 32px;
}

.logo {
  position: relative;
  margin-left: 88px;
  margin-top: 40px;
}

.license {
  position: absolute;
  right: 56%;
  top: 0;
  margin-left: 55px;
  font-size: 15px;
}

.cbn {
  position: absolute;
  top: 19%;
  right: 48%;
}

.welcome {
  position: relative;
  margin-top: 30px;
}

form {
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.email {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 70%;
  margin: auto;
}

.password {
  display: grid;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  width: 70%;
  margin: auto;
  margin-top: 35px;
}

.forgot-pass {
  position: absolute;
  top: 0;
  right: 0;
  text-decoration: none;
  color: #ab2656;
}

input {
  height: 44px;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 5px;
  margin-top: 10px;
}

.submit {
  width: 70%;
  height: 40px;
  border: none;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  align-self: center;
  background-color: #ab2656;
  color: white;
  margin-top: 30px;
}

p {
  text-align: center;
}

a {
  text-decoration: none;
}